<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta property="og:title" content="<%= ogtitle %>" />
    <meta property="og:type" content="website" >
    <meta property="og:site_name" content="MeMe" >
    <meta property="og:url" content="<%= metaurl %>" />
    <meta property="fb:app_id" content="<%= appid %>" >
    <meta property="og:description" content="<%= description %>" >
    <meta property="og:image" content="<%= ogimg %>">
    <meta name="keywords" content="live" >
    <meta name="description" content="<%= lessdescription %>" >
</head>

